.item {
  border: solid 0.1rem #888888;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  background-color: #f2f2f2;

  box-shadow: rgba(46, 75, 240, 0.4) 5px 5px, rgba(53, 46, 240, 0.3) 10px 10px,
    rgba(59, 46, 240, 0.2) 15px 15px, rgba(46, 53, 240, 0.1) 20px 20px,
    rgba(82, 46, 240, 0.05) 25px 25px;
}