.header {
  background-color: #3f51b5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;

  position: fixed;
  z-index: 1;
  width: 100%;
  box-shadow: rgba(55, 77, 205, 0.12) 0px 2px 4px 0px,
    rgba(45, 56, 198, 0.32) 0px 2px 16px 0px;
}

.header h2 {
  font-weight: 800;
  font-size: 28px;
  letter-spacing: 2px;
  text-shadow: rgba(45, 41, 41, 0.19) 0px 10px 20px,
    rgba(55, 46, 46, 0.23) 0px 6px 6px;
}

.header > nav {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

.header > nav > a {
  text-decoration: none;
  color: #e6e6e6;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
}

.header > nav > a:hover {
  color: #ffc45c;
}
