.container {
  padding: 5rem 0;
  position: relative;
  width: 40%; /* Full width of parent */
  overflow: hidden;
}

.cards {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%; /* Initial width */
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.buttons > button {
  width: 4rem;
  padding: 0.2rem 0;
  background-color: #ffc45c;
  color: #343f7d;
  font-size: 600;

  border-radius: 0.4rem;
  border: solid 0.1rem #888888;
}

.buttons > button:hover {
  background-color: #f0a524;
  color: #192045;
}
