.card {
  border: 1px solid #888888;
  border-radius: 20px;
  padding: 1.5rem 3rem;
  width: 350px;
  margin: auto;
  text-align: center;
  background-color: lightblue;
  transition: transform 0.3s ease;

  box-shadow: rgba(33, 35, 105, 0.4) 0px 2px 4px,
    rgba(21, 21, 93, 0.3) 0px 7px 13px -3px,
    rgba(31, 31, 111, 0.2) 0px -3px 0px inset;
}

.card:hover {
  background-color: #6a8ff4;
  transform: scale(1.07);

  box-shadow: rgba(17, 17, 100, 0.56) 0px 22px 70px 4px;
}

.card > a {
  color: rgb(42, 42, 104);
  font-weight: 500;
  font-size: 18px;
}
